# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# WhatsApp Session
.wwebjs_auth/
.wwebjs_cache/

# VS Code
.vscode/
.history/

# Build outputs
out/
.next/
frontend/out/
frontend/.next/
